{% extends "trackbuild/base.html" %}
{% block title %}Iniciar sesión - TrackBuild{% endblock %}

{% block content %}
<div class="card">
    <h2>Iniciar sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label>Usuario:</label>
        <input type="text" name="username" required>

        <label>Contraseña:</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
